.buttonDiv{
    float: right;
    margin: 3px;
}
.button{
    margin: 3px;
}
.nameDiv{
    float: left;
}
.listClass{
margin-bottom: 3rem;
margin-left: 3rem;
margin-right: 3rem;
margin-top: 3rem;
}
.list-container{
    float: left;
}
.list-item{
    height: 3.5rem;
}